 /*:root {
    --primary-bg-color: #ffffff;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --logo-black-color: #000000;

    --background-color: #f5f4fa;
    --secondary-bg-color: #2f303a;



    --text-color-contrast: #AFB1B8; 
    --duration: 250ms;
}*/


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    /* margin:0;
        padding-left: 0; */


    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

/* 'Montserrat', 
        'Nunito',*/

button,
a {
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}





.current-link,
.contact-list-link {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;




}

/* 
      .container {
    
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
   
} */


.container {
    /* width: 320px; */
    padding: 0 16px;
    margin: 0 auto;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


/*==========================================HEADER=================================================*/









.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    

}

/* .menu{
    display: flex;
        align-items: center;
} */
.contacts-list {
    flex-direction: row;
    gap: 40px;
}

.header {


    /* border-bottom: 1px solid #E7E9FC; */
        padding-top: 40px;
            padding-bottom: 40px;
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            background-color: transparent;

}



.logo {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.02em;
    text-transform: lowercase;
    margin-right: 76px;
        margin-top: 20px;
    
   

    background-size: contain;
       
        background-repeat: no-repeat;
       
        background-position: center;
       





}

/* .logo::after {
    content: 'jefferson';
    margin-left: 10px;
    /* Прикладний відступ 
} */

.logo-text {
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.02em;
    text-transform: lowercase;
    color: #FAFAFA;
    position: relative;
    /* Встановлюємо позицію відносно елемента-батька */
    top: -20px;
    /* Зміщення вгору, щоб текст був зверху та праворуч від зображення */
    left: 10px;
    /* Зміщення вправо, щоб текст був зверху та праворуч від зображення */
}

















.menu-link::after {
    content: ' ';
    position: absolute;
    left: 0;
    transform: scaleX(0);
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    /*background-color: #404bbf;
     display: inline-block; */




    /* opacity: 0; */



    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}





.menu-link {
    font-family: Inter Tight;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FAFAFA;



}

.menu-link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: scaleX(1);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}


/*==========================================HERO======================================================*/

/* .hero {


    background-color: #2F303A;
    color: #FFFFFF;
} */

/* .hero{
       max-width: 1600px;
        height: 600px;
        outline: 1ps solid black;
        margin-left: auto;
        margin-right: auto;
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image:linear-gradient( to right, rgba(47,48,58,0.5),
                     rgba(47,48,58,0.5)), url(../images/img-header.jpg);
    } */


.hero {




    /* background-color: rgba(28, 29, 32, 1);   */
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(28, 29, 32, 0.1), rgba(105, 41, 45, 0.1)),
        url('../images/mob/Glass-mob.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 320px;


}




.hero-title {

    font-family: 'Inter Tight', sans-serif;


    /* text-transform: uppercase; 
display: flex;*/

}
.hero-title {
    text-align: justify;
}

.hero-title span {
    display: inline-block;
}






/* ----------------------------------------------HOVER-MENU---------------------------------------------- */









/* .menu__link--current {
    color: #404bbf;
}

.menu__link:hover::after,
.menu__link:focus::after {
    transform: scaleX(1)
}


.menu__link--current::after {
    opacity: 1;
}

.menu__link:hover::after,
.menu__link:focus::after {
    opacity: 1;

} */















.contact-list {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




/* -----------------------------------------------------HOVER--------------------------------------------------- */








.contact-list-link:hover,
.contact-list-link:focus {
    color: #404bbf;

}













/*===============================================BUTTONS=============================================*/

.hero-button {
    background-color: #E0373F;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto 0 auto;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}


.hero-button:focus,
.hero-button:hover {
    background-color: #E0373F;
    /* color: var(--primary-bg-color); */
}

.btn {

    padding: 18px 50px;
        border: none;
        border-radius: 60px;
        font-family: Inter Tight;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.02em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 177px;
        height: 55px;
        background: #ED3B44;
        color: #FFFFFF;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        white-space: nowrap;

}

/* .button{
        

        color: var(--accent-color);
        background-color: var(--primary-bg-color);

        padding: 10px 32px 10px 32px;
        color: var(--title-text-color);
        
        
    } */










/*===================================MOB-MENU-BURGER===========================  */

@media screen and (max-width: 767px) {



    .header {
        padding: 16px 0;
    }



    .menu-list,
    .contact-list {
        display: none;
    }

    .burger-overlay {
        position: fixed;
        background-color: rgba(46, 47, 66, 0.4);
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        transform: translateX(100%);
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .burger-overlay.is-open {
        transform: translateX(0);
        opacity: 1;
    }


    @media screen and (max-width: 767px) and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .hero {
            background-image: linear-gradient(to right, rgba(28, 29, 32, 0.1), rgba(105, 41, 45, 0.1)),
                url('../images/mob/Glass-mob.jpg');
        }
    }








    .burger-overlay.is-open .burger-modal-window {
        transform: translateX(0);
    }

    .burger-modal-window {
        background-color: #ffffff;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 72px 16px 40px 16px;
        width: auto;
        height: 100%;
        margin-left: auto;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }






    .burger-menu-btn {
        background-color: var(--WHITE, #FFF);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-close-btn {
        background-color: #ffffff;
    }

    .close-btn:hover .close-btn-icon,
    .close-btn:focus .close-btn-icon {
        fill: #ffffff;
    }

    .burger-close-btn {
        background-color: #ffffff;
    }

    .burger-navigation-item {
        color: var(--NAVY-BLUE, #2E2F42);

        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .burger-navigation-item-current {
        color: #404bbf;
    }



    .burger-close-btn {
        background-color: var(--WHITE, #FFF);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-contacts-item {
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }


    .burger-contacts-item-current {
        color: #404bbf;
    }


    .burger-navigation-list {
        display: flex;
        gap: 40px;
    }

    .burger-contacts-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
    }

    .social-list-burger {
        display: flex;

        gap: 40px;
        max-width: 280px;
    }

    .burger-contacts-item:hover {
        color: var(--IRIS, #4D5AE5);
    }

    .burger-navigation-item:hover {
        color: var(--OCEAN, #404BBF);
    }

    .agreements {
        display: flex;
        width: 256px;
    }

    .agreements__icon {
        flex-shrink: 0;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
    }



    /* .burger-close-btn {
        background-color: var(--WHITE, #FFF);
        display: flex;
        align-items: center;
        justify-content: center;
    } */
}








/* ============================================TABLET================================================ */


@media screen and (min-width: 768px) {
    .container {

        width: 768px;


    }


    ul,
    ol {
        flex-direction: row;
    }

    .header {

        padding: 0;


    }

    .menu {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 120px;
    }



    .burger-overlay,
    .burger-menu-btn {
        display: none;
    }



    .menu__list {

        display: flex;
        gap: 40px;

    }

    .menu-item {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .contact-list-list {
        flex-direction: column;
        gap: 12px;
    }


    /* .burger-close-btn {
      display: none;
  } */

    .contact-list-link {

        padding: 6px 0;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    }



    .hero {
        padding: 112px 0;
        background-image: linear-gradient(to right, rgba(28, 29, 32, 0.1), rgba(105, 41, 45, 0.1)),
            url('../images/tablet/Glass-tablet.jpg');
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .hero {
            background-image: linear-gradient(to right, rgba(28, 29, 32, 0.1), rgba(105, 41, 45, 0.1)),
                url('../images/tablet/Glass-tablet.jpg');
        }
    }

       


    .features-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        row-gap: 72px;
    }

    .feature-list__item {
        width: calc((100% - 24px) / 2);
        /* max-width: 356px; */
    }

    .feature-list__title {
        text-align: start;
    }

    .cards-section {
        background-color: #F4F4FD;
        padding-top: 96px;
        padding-bottom: 96px;


    }


    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
        max-width: 1157px;
    }

    .hero-title {
        
                
                    font-family: 'Inter Tight', sans-serif;
                    font-size: 90px;
                    font-weight: 500;
                    line-height: 90px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    color: #FAFAFA;

             
    }


    .client-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }




    .gallery {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
    }

    .gallery__item {
        width: calc((100% - 30px) / 2);

    }


    /* __________________________________________________FOOTER_________________________________________________ */


   




/* ===============================================DESKTOP========================================================== */


@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;


    }


    .header {

        padding: 0;


    }

    ul,
    ol {
        flex-direction: row;
    }


    .menu-item {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .menu__list {

        display: flex;
        gap: 40px;

    }


    .contact-list-list {
        flex-direction: row;
        gap: 40px;
    }


    .contact-list-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }


    /* .menu {
            display: flex;
            align-items: center;
        } */


    .hero {
        max-width: 100%;
        padding: 188px 0;
        background-image: linear-gradient(to right, rgba(28, 29, 32, 0.1), rgba(105, 41, 45, 0.1)),
            url('../images/desktop/Hero.jpg');
    }

    @media screen and (min-width: 1158px) and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .hero {
            background-image: linear-gradient(to right, rgba(28, 29, 32, 0.1), rgba(105, 41, 45, 0.1)),
                url('../images/desktop/Hero-bg-2x.jpg');
        }

    }


        
    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-list {
        display: flex;
        gap: 24px;
        align-items: flex-start;
    }


    .feature-list__item {
        width: calc((100% - 72px) / 4);

    }


    .features-list__container {

        margin-bottom: 30px;
        height: 120px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;

        display: flex;

        justify-content: center;

        align-items: center;

        border-radius: 4px;
    }

    .feature-list__title {
        font-weight: 500;
        line-height: 1.2;
        font-size: 20px;
    }

    .feature-list__text {

        font-weight: 400;
    }




    .client-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .gallery {
        column-gap: 24px;
    }

    .gallery__item {
        width: calc((100% - 60px) / 3);

    }




    .cards-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .team-list__item {
        width: calc((100% - 72px)/4);
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
        max-width: 1157px;
    }







    .footer__logo--second {
        margin-right: 76px;
    }


    .footer__container {
        justify-content: center;
        padding: 0;
    }



    .footer__content {
        margin-bottom: 0;
        margin-right: 120px;
    }



    .footer-social__container {
        margin-right: 80px;
    }



    .footer-subscribe__input {
        width: 264px;
        line-height: 2;
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1.0);
    }

}
}